{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
            <div class="text-left">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Cel Aplikacji:</h3>
                <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
            </div>
            <div class="text-left">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Opis Działania Aplikacji:</h3>
                <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
            </div>
            <div class="text-left">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Zastosowane biblioteki:</h3>
                <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
            </div>
            <div class="text-left">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Zastosowane podejścia:</h3>
                <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
            </div>
{% endblock %}