{% extends 'base.html' %}
{% block title %}Opinie o produkcie{% endblock %}
{% block content %}
    <div class="text-center text-lg font-semibold text-gray-700 dark:text-white grid w-screen place-items-center space-y-8">
        <h2 class="text-lg font-semibold text-gray-700 dark:text-white">{{product_code}}</h2>
        <div class="flex flex-row mx-auto space-x-8">
            <a href="{{ url_for('download', filename=product_code+'.json') }}" class="mx-auto relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                <span class="relative text-base font-semibold text-primary dark:text-white">Pobierz JSON</span>
            </a>
            <a href="{{ url_for('charts', product_code=product_code) }}" class="mx-auto relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                <span class="relative text-base font-semibold text-primary dark:text-white">Przejdź do wykresów</span>
            </a>
        </div>
        {{opinions|safe}}
    </div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready( function () {
        $('#opinions').DataTable({
            responsive: true
        })
        .columns.adjust()
        .responsive.recalc();
    } );
</script>
{% endblock %}